.button-main {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.0125em;

  text-transform: uppercase;
  color: #f7f9fa;
  background: #5080ec;
  border-radius: 100px;
  border: none;

  cursor: pointer;
}

.button-main--banner-encyclopedia {
  padding: 12px 34px;
  margin-bottom: 39px;
}

@media (min-width: 768px) {
  .button-main--banner-encyclopedia {
    margin-bottom: 29px;
  }
}
