@import "popup-mailing.less";
@import "fonts.less";
@import "error-mail.less";
@import "page-encyclopedia";
@import "container";
@import "breadcrumbs";
@import "info-encyclopedia";
@import "banner";
@import "button-main";
@import "terminology";
@import "page-main";
@import "contents";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}
