.terminology__link {
  text-decoration: none;
  color: #2e2f2f;
}

.terminology__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.terminology__description {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.terminology__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 30px;
  margin-bottom: 30px;

  background: #ffffff;
  border: 1px solid rgba(150, 150, 150, 0.2);
  box-sizing: border-box;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

}
