.container {
  min-width: auto;
  margin: 0 auto;
}

// @media (min-width: 768px) {
//   .container {
//     width: 768px;
//   }
// }

@media (min-width: 1280px) {
  .container {
    width: 1220px;
  }

  .container--promo {
    display: flex;
  }
}
