.articles--gray {
  padding-bottom: 41px;
  padding-top: 45px;

  background-color: #f4f2ef;
}

.articles__header {
  display: block;
}

.articles__category {
  margin-top: 27px;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.8;
  text-align: center;
}

.articles__img {
  width: 100%;
}

.articles__img--women {
  background-color: #fdcc6d;
}

.articles__title--strong {
  font-weight: 600;
}

.articles__title {
  margin-top: 14px;

  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #000000;
}

.articles__header .content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f0743b;
  bottom: 0;
}

.articles--green {
  background-color: #9ddaaf;
  padding-bottom: 71px;
  margin-bottom: 45px;
}

.articles__header--green {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.articles__title--green {
  padding-top: 45px;
  margin-bottom: 18px;

  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.articles__category--green {
  margin-bottom: 0;
  margin-top: 31px;

  letter-spacing: 0.013em;
  text-align: right;
  opacity: 1;
}

@media (min-width: 768px) {
  .articles__header {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 21px;
    width: 40%;
  }

  // .articles__header::before {
  //   content: "";
  //   .border-vertical;
  //   height: 99%;
  //   right: 0;
  //   top: 0;
  // }

  .articles--gray {
    padding-left: 30px;
    padding-right: 30px;
  }

  .articles__title {
    margin-top: 0;

    font-size: 24px;
    text-align: left;
    order: -1;
  }

  .articles__category {
    margin-top: 9px;

    text-align: right;
    letter-spacing: 0.013em;
    opacity: 1;
  }

  .articles--green {
    padding-bottom: 0;
    padding-top: 54px;
  }

  .articles__img--green {
    width: 358px;
  }

  .articles__header--green {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .articles__title--green {
    flex-grow: 1;
    margin-bottom: 9px;
  }

  .articles__category--green {
    align-self: flex-end;
    flex-grow: 1;
  }
}

@media (min-width: 1280px) {
  .articles--gray {
    padding-top: 61px;
    padding-bottom: 21px;
  }

  .articles__header {
    width: 587px;
  }

  .articles__title {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 0.0025em;
  }

  .articles--green {
    margin-top: 150px;
    padding-top: 61px;
  }

  .articles__header--green {
    width: 50%;
  }

  .articles__category--green {
    margin-bottom: 40px;
  }
}
