.content--index {
  margin-left: 30px;
  margin-right: 30px;
}

.content--news {
  position: relative;
  padding-bottom: 14px;
}

.content--acricles-list {
  position: relative;
  margin-top: 45px;
}

@media (min-width: 768px) {
  .content--index {
    margin: 0;
  }

  .content--news {
    padding-bottom: 0;
    min-height: 200px;
  }

  .content--acricles-list {
    width: 60%;
  }

  .content--acricles-list::before {
    display: none;
  }
}

@media (min-width: 1280px) {
  .content--index {
    margin-left: 0;
    margin-right: 0;
  }

  .content--news {
    min-height: 160px;
  }

  .content--acricles-list {
    width: 50%;
  }
}
