.dots {

  text-align: center;
}

.dots--indent {
  margin-top: 31px;
}

.dots__item {
  display: inline-block;
  margin-right: 15px;
  width: 15px;
  height: 15px;

  background-color: #5080ec;
  border: none;
  border-radius: 100%;

  cursor: pointer;
}

.dots__item:last-child {
  margin-right: 0;
}

.dots__item--active {
  border: 1px solid #5080ec;
  background-color: #ffffff;
}

.dots__item--active-specialist {
  background-color: #9dcfac;;
}

.dots--specialist {
  display: none;
}

@media (min-width: 768px) {
  .dots--indent {
    display: none;
  }

  .dots--specialist {
    display: block;
  }

}
