.error-mail {
  border: 2px solid #fb360a;
}

.error-mail::placeholder {
  color: #ffffff;
}

.error-mail__text {
  position: absolute;
  bottom: 25px;
  left: 110px;

  font-size: 12px;
  color: #e11f26;
  display: none;
}

.error-mail + .error-mail__text {
  display: block;
}

@media (max-width: 768px) {
  .error-mail + .error-mail__text {
    display: none;
  }
}
